.Rproj.user
.Rhistory
.RData
.Ruserdata

#a bunch of SCC files that don't need to be pushed to the repo
/SCCData/noaa-data/
/SCCData/mia-data/
/SCCData/manual-data/
/SCCData/diana-data/
/SCCData/carina-data/
/SCCData/bvre-data/usda_soil_data/

# ignore downloaded files
./SCCData/bvre-data/BVRplatform_manual_2020.csv
./SCCData/bvre-data/bvre-waterquality.csv
./SCCData/bvre-data/BVRplatform.csv
./SCCData/bvre-data/Manual_Downloads


# and some big files
FCRweir.csv
FCRmet.csv
stats.csv
Catwalk_cleanedEDI.csv
Met_final_2015_2018.csv
Catwalk.csv
RealTimeCatwalk.csv
note.md
*gep_all_*.csv
*.zip

#ignore files in the working directory
ARIMA_working/